@model YourLocalization.Application.ViewModels.Subtype.ListSubtypeForListVm

@{
    ViewData["Title"] = "List of subtypes";
}

<h1>All Subtypes</h1>

<a class="btn btn-primary mt-2 mb-2" asp-action="AddSubtype">Add new subtype</a>

<form asp-action="Index" asp-controller="Subtype" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" class="form-control" name="searchString" id="searchString" />
        <input type="submit" value="Search" class="btn btn-primary mt-2" />
    </div>
    <div class="row">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Subtypes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeDetails.Name)
                        </td>
                        <td>
                            <input class="btn btn-outline-primary" type="button" value="Edit" onclick="location.href='@Url.Action("EditSubtype", new { id = item.Id })'"> </input>

                            <input class="btn btn-outline-primary" type="button" value="Delete" onclick="location.href='@Url.Action("DeleteSubtype", new { id = item.Id })'"> </input>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="9" />
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
